.button-show {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 20vw;
    height: 10vh;
    border-radius: 10px;
    align-items: center;
    border: 1px solid black;
}

.button-show.on {
    background-color: rgb(190, 219, 230);
}


.button-show.off {
    background-color: white;
}

.button-show:hover {
    border: 2px solid black;
}

.button-show img {
    width: 20px;
    height: 20px;
    justify-self: center;
}

.button-show svg {
    width: 30px;
    height: 30px;
    justify-self: center;
}

.prev-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 1vh 1vw;
    width: 18vw;
    border-radius: 10px;
    background-color: white;
}

.icon-box {
    display: flex;
    gap: 1vw;
    justify-self: flex-end;
    align-self: center;
}