.forms-div {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    gap: 2vh;
}

.forms {
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
    background-color: white;
}

.forms div {
    display: flex;
    gap: 10px;
}

.forms button {
    width: 7vw;
    min-height: 5vh;
    align-self: center;
    border: none;
    border-radius: 10px;
    border: 5px solid rgb(239, 237, 237);
    background-color: white;
}

.forms button:hover {
    background-color:  rgb(239, 237, 237);
}

/* FORM INPUTS */
.inputs {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
}


.inputs input, .inputs textarea {
    width: 17vw;
    border-radius: 10px;
    padding: 8px;
    border: none;
    background-color: rgba(217, 220, 222, 0.626);
}

.inputs textarea {
    height: 20vh;
}