@font-face {
    font-family: 'Montserrat';
    src: url('../../../src/assets/Montserrat-VariableFont_wght.ttf');
}



.preview-page {
    background-color: white;
    min-width: 63vw;
    min-height: 80.1vw;
    border: 1px solid black;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    font-size: 1rem;
}

/*BASIC INFORMATION*/

.personal-info-preview {
    font-size: 1rem;
    width: 100%;
    padding: 2vw 0px;
    padding-bottom: 3vw;
    background-color: rgb(191, 236, 236);
}

.personal-info-preview h1 {
    font-size: 2rem;
}

.personal-info-preview div {
    display: flex;
    justify-content: space-around;
}


.personal-info-preview div div {
    display: flex;
    align-items: center;
    gap: 1vw;
}

svg {
    width: 20px;
}

/*SEPARATOR*/
.preview-separator {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 3vw;
}


/*ABOUT*/


.about-info-preview {
justify-self: center;
text-align: center;
line-height: 1.5rem;
max-width: 17vw;
align-self: center;
}

.left-column {
    grid-row: 2/4;
    grid-column: 1/2;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

/*SKILLS*/

.skills-info-preview {
    background-color: rgb(191, 236, 236);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 1vw;
}
 

/*EDUCATION AND EXPERIENCE*/

.exp-info-preview {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-left: 2vw;

}


.edu-info-preview {
    grid-row: 3/4;
    grid-column: 2/3;
    margin-left: 2vw;
    text-align: center;
}

.exp-info-preview h1, .edu-info-preview h1 {
    border-radius: 5px;
    width: 35vw;
    background-color: rgba(180, 182, 183, 0.269);
}

.info-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.info-wrapper2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.job-and-description {
    text-align: left;
    padding-right: 1.5vw;
}